/* Image - Text style Start */
.two-side__section-image-text {
    padding: 80px 0;
    overflow: hidden;
    @include md {
        padding: 60px 0;
    }
    .row {
        row-gap: 40px;
    }
    .lefts {
        align-self: center;
        position: relative;
        .img {
            width: 100%;
            height: 300px;
            // clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
                border-radius: 8px;
                overflow: hidden;
                    box-shadow: 0 10px 20px 3px #00000061;
            @include min-md {
                height: 400px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .rights {
        align-self: center;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        .buttons {
            display: flex;
            column-gap: 20px;
            flex-wrap: wrap;
            row-gap: 10px;
            margin-top: 32px;
            a {
                @include button;
                height: 60px;
                font-size: 18px;
            }
        }
        h2 {
            font-size: 30px;
            @include min-md {
                font-size: 40px;
            }
        }
        h3 {
            p {
                font-size: 16px;
                line-height: 25px;
                @include md {
                    font-size: 14px;
                }
            }
        }
    }
}

.image-no-container-left {
    position: relative;
    padding-top: 0;

    .row {
        @include md {
            row-gap: 20px;
        }

        @include xs {
            row-gap: 0;
        }
    }

    .rights {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: auto;
    }

    .lefts {
        flex: unset;
        max-width: unset;
        position: relative;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        align-self: unset;

        @include xs {
            padding-right: 0;
            padding-left: 0;
        }

        @include min-md {
            width: 50%;
            position: absolute;
            padding-left: 0;
        }

        .img {
            @include min-xs {
                height: 100%;
            }
        }
    }
}

/* Image - Text style END */